@page
@model AboMagAdmin.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Liste des utilisateurs";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].DateNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].LieuNaissance)
            </th>            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LieuNaissance)
            </td>            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Voir</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
